.profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.user-details, .booking-details {
  margin-bottom: 20px;
}

.user-details h2, .booking-details h2 {
  color: #555;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.user-details p, .booking-details p {
  color: #666;
  margin: 5px 0;
}

.booking-item {
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.booking-item p {
  margin: 5px 0;
}
.log-out-button{
  display: flex;
  justify-content: center;
}