.language-button-div{
  display: flex;
  gap: 1.4rem;
  justify-content: center;
}
.all-movie-card-section {
  display: grid; 
   grid-template-columns: auto auto auto auto auto; 
  /* gap: 20px; */
  padding: 20px;
  column-gap: 4rem;
  row-gap: 7rem;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
}
/* grid-template-columns:repeato  */
.movies-main-div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* grid-template-columns: repeat(auto,1fr); */
}
.pagination-div{
  margin-top: 4rem;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
@media (max-width: 1120px){
  .all-movie-card-section {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 6rem;
  }
}

@media (max-width: 1024px) {
  /* Styles for tablets (screen width up to 1024px) */

  .all-movie-card-section {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 6rem;
  }
}

@media (max-width: 768px) {
  /* Styles for smaller tablets and large mobile phones */
  .language-button-div{
    display: grid;
    grid-template-columns:  auto auto auto auto;
  }
  .all-movie-card-section {
    display: grid;
    grid-template-columns: auto auto ;
    row-gap: 6rem;
  }
}

@media (max-width: 480px) {
  /* Styles for small mobile devices */
 
  .language-button-div{
    display: grid;
    grid-template-columns:  auto auto auto;
  }
  .all-movie-card-section {
    display: grid;
    grid-template-columns: auto  ;
  }
}

